#canvas {
    display: none;
}


@media (min-width:576px) {
    .card {
        width: 95%;
    }
}

@media (min-width:768px) {
    .card {
        width: 60%;
    }
}

@media (min-width:992px) {
    .card {
        width: 60%;
    }
}

@media (min-width:1400px) {
    .card {
        width: 50%;
    }
}