*{
    margin: 0; 
   padding: 0; 
   box-sizing: border-box; 
 } 
  
 main { 
   min-height: 100vh; 
   display: flex; 
   align-items: center; 
   justify-content: center; 
 }
 
.certDetails { 
   flex: 1; 
   display: flex; 
   flex-direction: column; 
   align-items: center; 
   justify-content: space-evenly; 
   text-align: center; 
   background: linear-gradient( 
     to right bottom, 
     rgba(255, 255, 255, 0.7), 
     rgba(255, 255, 255, 0.3) 
   ); 
   border-top-left-radius: 0.5rem; 
   border-bottom-left-radius: 0.5rem; 
 }
 
.certPrev { 
   flex: 3; 
 }
 
 .links { 
   width: 100%; 
 } 
  
 .link { 
   display: flex; 
   margin: 0.5rem 0; 
 }